@page "/development"

<PageTitle>Development</PageTitle>

<h1>Development</h1>

<div data-aos="fade-left" id="about" class="content section">
    <h2>RPGGamer Radio</h2>
    <p>This is a lightweight desktop application that streams over 4800 of your favorite OST video game tracks.</p>
    <a href="https://github.com/DerekGooding/RPGGamers-Radio-Premium/" target="_blank" rel="noopener noreferrer">
        <img src="https://github.com/DerekGooding/RPGGamers-Radio-Premium/blob/main/Screenshot_1.png?raw=true" alt="Screenshot 1" style="max-width: 100%; height: auto;" />
    </a>
</div>

<div data-aos="fade-left" id="about" class="content section">
    <a href="https://github.com/DerekGooding/RPGGamers-Radio-Premium/" target="_blank" rel="noopener noreferrer">
        <img src="https://github.com/DerekGooding/RPGGamers-Radio-Premium/blob/main/Screenshot_2.png?raw=true" alt="Screenshot 1" style="max-width: 100%; height: auto;" />
    </a>
</div>

<div data-aos="fade-left" id="about" class="content section">
    <h2>ConsoleHero</h2>
    <p>Quickly mock up architecture for static data with this fluent designed nuget package.</p>
    <a href="https://www.nuget.org/packages/ConsoleHero" target="_blank" rel="noopener noreferrer">
        <img src="https://github.com/DerekGooding/ConsoleHero/blob/main/ConsoleHero/icon.png?raw=true" alt="Screenshot 1" style="max-width: 50%; height: auto;" />
    </a>
    <a href="https://github.com/DerekGooding/ConsoleHero/" target="_blank" rel="noopener noreferrer">
        <img src="https://github.com/DerekGooding/ConsoleHero/blob/main/ReadmeImages/After.png?raw=true" alt="Screenshot 1" style="max-width: 100%; height: auto;" />
    </a>
</div>
