@page "/"

<PageTitle>Home</PageTitle>

<h1>Home</h1>
<div data-aos="fade-left" id="about" class="content section">
    <h2>RPGGamer Radio</h2>
    <p>This is a lightweight desktop application that streams over 4800 of your favorite OST video game tracks.</p>
    <a href="https://github.com/DerekGooding/RPGGamers-Radio-Premium/" target="_blank" rel="noopener noreferrer">
        <img src="https://github.com/DerekGooding/RPGGamers-Radio-Premium/blob/main/Screenshot_1.png?raw=true" alt="Screenshot 1" style="max-width: 100%; height: auto;" />
    </a>
</div>

<div data-aos="fade-left" id="about" class="content section">
    <a href="https://github.com/DerekGooding/RPGGamers-Radio-Premium/" target="_blank" rel="noopener noreferrer">
        <img src="https://github.com/DerekGooding/RPGGamers-Radio-Premium/blob/main/Screenshot_2.png?raw=true" alt="Screenshot 1" style="max-width: 100%; height: auto;" />
    </a>
</div>

<div data-aos="fade-left" id="about" class="content section">
    <h2>ConsoleHero</h2>
    <p>Quickly mock up architecture for static data with this fluent designed nuget package.</p>
    <a href="https://www.nuget.org/packages/ConsoleHero" target="_blank" rel="noopener noreferrer">
        <img src="https://github.com/DerekGooding/ConsoleHero/blob/main/ConsoleHero/icon.png?raw=true" alt="Screenshot 1" style="max-width: 50%; height: auto;" />
    </a>
    <a href="https://github.com/DerekGooding/ConsoleHero/" target="_blank" rel="noopener noreferrer">
        <img src="https://github.com/DerekGooding/ConsoleHero/blob/main/ReadmeImages/After.png?raw=true" alt="Screenshot 1" style="max-width: 100%; height: auto;" />
    </a>
</div>

<div style="display: flex; flex-direction: column; justify-content: left;">
    <h1>Dungeon Master</h1>
    <a href="https://www.youtube.com/playlist?list=PLz5c9mrtCixhfPTHuclnBSpuW7bT0zCeD"
       target="_blank">
        Playlist
    </a>
    <YouTubeEmbed VideoId="u2ugKe3FLlc" />
</div>


<div style="display: flex; flex-direction: column; justify-content: left;">
    <h1>Comedy</h1>
    <a href="https://www.youtube.com/playlist?list=PLuKwtAy5WpTxm3Aqox7DlFrYV7CSHUCGI"
       target="_blank">
        Playlist
    </a>
    <YouTubeEmbed VideoId="48c119ZZt6s" />
</div>

<div style="display: flex; flex-direction: column; justify-content: left;">
    <h2>Meteor Farm</h2>
    <iframe frameborder="0"
            src="https://itch.io/embed-upload/10297695?color=333333"
            width="1280" height="740">
        <a href="https://totalg.itch.io/meteor-farm">Play Meteor Farm on itch.io</a>
    </iframe>
</div>

<div style="display: flex; flex-direction: column; justify-content: left;">
    <h2>iHeartFunnyReindeer</h2>
    <iframe frameborder="0"
            src="https://itch.io/embed-upload/12207613?color=333333"
            allowfullscreen="" width="1280" height="740">
        <a href="https://totalg.itch.io/iheartfunnyreindeer">Play iHeartFunnyReindeer on itch.io</a>
    </iframe>
</div>