@page "/"

<PageTitle>Home</PageTitle>

<h1>Home</h1>
<div class="justify-content-center">
    <div data-aos="fade-left" id="hero" class="content section">
        <h1>Welcome to My Resume</h1>
        <p>Introduction content here.</p>
    </div>

    <div data-aos="fade-right" id="projects" class="content section">
        <h2>Projects</h2>
        <p>Details about projects...</p>
    </div>

    <div data-aos="fade-left" id="about" class="content section">
        <h2>About Me</h2>
        <p>About me content...</p>
    </div>

    <div data-aos="fade-right" id="contact" class="content section">
        <h2>Contact</h2>
        <p>Contact form or details...</p>
    </div>

    <div data-aos="fade-left" class="content">
        <h2>Meteor Farm</h2>
        <p>Contact form or details...</p>
        <p>Contact form or details...</p>
        <p>Contact form or details...</p>
        <p>Contact form or details...</p>
        <p>Contact form or details...</p>
        <p>Contact form or details...</p>
    </div>

    <div data-aos="fade-right" class="content">
        <h2>Meteor Farm</h2>
        <p>Contact form or details...</p>
        <p>Contact form or details...</p>
        <p>Contact form or details...</p>
        <p>Contact form or details...</p>
        <p>Contact form or details...</p>
        <p>Contact form or details...</p>
    </div>

    <div data-aos="fade-left" class="content">
        <h2>Meteor Farm</h2>
        <p>Contact form or details...</p>
        <p>Contact form or details...</p>
        <p>Contact form or details...</p>
        <p>Contact form or details...</p>
        <p>Contact form or details...</p>
        <p>Contact form or details...</p>
    </div>

    <div data-aos="fade-right" class="content">
        <h2>Meteor Farm</h2>
        <p>Contact form or details...</p>
        <p>Contact form or details...</p>
        <p>Contact form or details...</p>
        <p>Contact form or details...</p>
        <p>Contact form or details...</p>
        <p>Contact form or details...</p>
    </div>

    <div data-aos="fade-left" class="content">
        <h2>Meteor Farm</h2>
        <p>Contact form or details...</p>
        <p>Contact form or details...</p>
        <p>Contact form or details...</p>
        <p>Contact form or details...</p>
        <p>Contact form or details...</p>
        <p>Contact form or details...</p>
    </div>

</div>