@page "/itch"

<PageTitle>Itch</PageTitle>

<h1>Itch.io</h1>

<h2>Meteor Farm</h2>
<iframe frameborder="0" 
	src="https://itch.io/embed-upload/10297695?color=333333" 
		width="1280" height="740">
	<a href="https://totalg.itch.io/meteor-farm">Play Meteor Farm on itch.io</a>
</iframe>

<h2>iHeartFunnyReindeer</h2>
<iframe frameborder="0" 
	src="https://itch.io/embed-upload/12207613?color=333333" 
	allowfullscreen="" width="1280" height="740">
	<a href="https://totalg.itch.io/iheartfunnyreindeer">Play iHeartFunnyReindeer on itch.io</a>
</iframe>


