@page "/youtube"

<div style="display: flex; flex-direction: column; justify-content: left;">
    <h1>Dungeon Master</h1>
    <a href="https://www.youtube.com/playlist?list=PLz5c9mrtCixhfPTHuclnBSpuW7bT0zCeD" 
    target="_blank">
        Playlist
    </a>
    <YouTubeEmbed VideoId="u2ugKe3FLlc" />
</div>

<div style="display: flex; flex-direction: column; justify-content: left;">
    <h1>Comedy</h1>
    <a href="https://www.youtube.com/playlist?list=PLuKwtAy5WpTxm3Aqox7DlFrYV7CSHUCGI" 
    target="_blank">
        Playlist
    </a>
    <YouTubeEmbed VideoId="48c119ZZt6s" />
</div>
